.added-metrics__container{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
        
    border-radius: 0;
    max-height: 22rem;
    min-height: 11rem;

    overflow: auto;
}