    .metrics-wrapper{
        background: rgba(67, 67, 201, 0.25);
        box-shadow: 0 0 0.125rem rgba(0,0,0,0.8);
        border-radius: 1.25rem;
        border: 0.125rem solid rgba(255,255,255,0.2);
    
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }
