.change-metric__container{
    position: relative;
    z-index: 10;

    width: 30rem;
    min-height: 11rem;
    padding: 1rem 0rem;
}

.change-metric__title{
    padding-bottom: 1rem;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}